<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "SportHub", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-4 col-md-2 mr-0" href="#">SportHub</a>
        <form class="w-100">
          <input class="form-control form-control-dark" type="text" placeholder="Search">
        </form>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Log out</a>
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="row navbar-expand-md">
        <nav class="col-md-3 col-lg-2 bg-light navbar-collapse collapse sidebar" id="sidenav">
          <div class="sidebar-sticky flex-column w-100 mt-1">
            <ul class="nav flex-column">
              <li class="nav-item">
                  <a class="nav-link active" href="/">
                      <span data-feather="home"></span> Dashboard <span class="sr-only">(current)</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">
                      <span data-feather="activity"></span> Trends
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/import">
                      <span data-feather="file"></span> Import Data
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">
                      <span data-feather="settings"></span> Settings
                  </a>
              </li>
              <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <li  class="nav-item">
                <%= link "LiveDashboard", class: "nav-link", to: Routes.live_dashboard_path(@conn, :home) %>
              </li>
              <% end %>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <%= @inner_content %>
        </main>
      </div>
    </div>
  </body>
</html>
